
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>File Sharing</title>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
   <img src="{{url_for('static', filename='logo1.png')}}" alt="logo" style="width:120px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/login">Chat<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Features
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/ham">Hamming Code</a>
          <a class="dropdown-item" href="/sel">Selective Repeat</a>
          <a class="dropdown-item" href="/podcast">Podcast</a>
          <a class="dropdown-item" href="/sendemail">Mail</a>
          <a class="dropdown-item" href="/files">File Sharing</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
  </div>
</nav>

        {% block files %}
        <form action="{{url_for('download')}}" method="POST">
            <div id="items" style="
                position: absolute;
                left: 50%;
                top: 40%;
                transform: translate(-50%, -50%);">
        
            {% for filename in files %}
    
                {%if "." in filename%}
                    <button type="submit" name="filedownload" value="{{filename}}" id="file" value="{{filename}}">
                        <figure>
                            <img src="{{ url_for('static', filename='file.png') }}"width="48" height="48">
                            <figcaption>{{filename}}</figcaption>
                        </figure>
                        
                    </button>
                {%else%}
                    
                    <button type="submit" name="filedownload" value="{{filename}}" id="folder" value="{{filename}}">
                        <figure>
                            <img src="{{ url_for('static', filename='folder.png') }}"width="48" height="48">
                            <figcaption>{{filename}}</figcaption>
                        </figure>
                        
                    </button>
                    
                {%endif%}  
            {% endfor %}
                  </form>
           <br>
            
       
        <form action="{{url_for('upload')}}" method="POST">
            <br>
            <input id="file-upload" type="file" accept=".gif,.jpg,.jpeg,.png,.txt" style="width: 400px;">
            <br>
            <input class="form-control" type="text" id="filename" name="filename" style="width: 400px;"hidden>
        
            <input type="text" id="data" name="data"hidden>
            <br>
            <input type="submit" value="Upload File" class="btn btn-success" style="width: 400px;">
            <br>
        </form>
        <br>
      <form action="{{url_for('download')}}" method="POST">
        <input type="submit" name="filedownload" value="Back" class = "btn btn-danger" id="back" style="width: 400px;">
    </form>
    </div>
        {% endblock %}
    


</html>
<script type="text/javascript" src="{{ url_for('static', filename='file_sharing.js') }}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#items
{
    width: 400px;
    
    align-items: center;
}
button
{
    border: none;
    background: none;
}
label{
	margin-bottom: 20px;
	font-size: 25px;
}

.form {
  width: 500px;
  padding: 6% 0 0;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 20px auto 100px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.form textarea{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  background-color: #46f24e !important;
  font-size: 14px;
  color: white !important;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047 !important;
}





